<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>

<form action="/register/" method="post">
    {%csrf_token%}
<p><label for="sname">姓名:  </label>&emsp;
    <input type="text" name="sname" id="name"/>
</p>

<p>所属班级: &emsp;
    <select name="cname">
        <option>1班</option>
        <option>2班</option>
        <option>3班</option>
        <option>4班</option>
        <option>5班</option>
    </select>
</p>
<p>
课程名称:<input type="checkbox" name="coname" >HTML5
        <input type="checkbox" name="coname">Python
        <input type="checkbox" name="coname">JAVA
        <input type="checkbox" name="coname">Django
</p>
<p><input type="submit" value="注册"/></p>
</form>
</body>
</html>