<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示学生详细信息</title>
</head>
<body>
<table border="1" align="center">
    <tr>
    <th>编号</th>
    <th>学生姓名</th>
    <th>班级名称</th>
        <th>课程名称</th>
    </tr>

    {% for line in st%}
        <tr>
            <td>{{ line.cno.clnumber }}</td>
            <td>{{ line.sname }}</td>
            <td>{{ line.cno.clname }}</td>
         <td>1
        {% for co in st.cour.all%}
               {{ co.coname}}1
        {% endfor %}
        </td>
        </tr>
    {% endfor %}

</table>
</body>
</html>