<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ORM练习</title>
</head>
<body>
<div >
    <ul>
        <li>        所有数据 :&emsp;     {{searchAll_list  }}</li>

        <li>数量 ：&emsp;{{ number }}</li>
        <li>第150项get ：&emsp;{{ Id_150 }}</li>
        <li>第150项filter ：&emsp;{{ Id_150copy }}</li>
        <li>第一项 ：&emsp;{{ first_data }}</li>
        <li>最后一项 ：&emsp;{{ last_data }}</li>
        <li>切片查询：&emsp;{{ slice_list }}</li>
        <li>模糊查询开头：&emsp;{{  part_first_list }}</li>
        <li>模糊查询结尾：&emsp;{{ part_last_list }}</li>
        <li>模糊查询包含：&emsp;{{ slice_list }}</li>
        <li>不区分大小写模糊查询：&emsp;{{ Ilist  }}</li>

        <li>不区分大小写模糊查询：&emsp;{{ Ilist  }}</li>
        <li>不区分大小写模糊查询：&emsp;{{ Ilist  }}</li>
        <li>不区分大小写模糊查询：&emsp;{{ Ilist  }}</li>

    </ul>
    </div>
</body>
</html>